<div class="row">
  <div class="large-6 columns">
    <%= f.label :title, t('activerecord.attributes.yavu_surveys/answer.title') %>
    <%= f.text_field :title %>
  </div>
  <div class="large-2 large-offset-1 columns">
    <%= f.label :base_value, t('activerecord.attributes.yavu_surveys/answer.base_value') %>
    <%= f.number_field :base_value %>
  </div>
  <div class="large-1 large-offset-1 columns ">
    <%= f.label :actions, raw("&nbsp;") %>
    <%= f.link_to_remove t('activerecord.actions.yavu_surveys/answer.destroy'), { class: 'action button small radius alert' } %>
  </div>
</div>
