<div class="form-container">
  <%= nested_form_for(@survey) do |f| %>

    <%= render_form_errors @survey  %>

    <div class="field-container panel">
      <p class="field">
        <%= f.label :question, t('activerecord.attributes.yavu_surveys/survey.question') %>
        <%= f.text_field :question %>
      </p>
      <div class="row">
        <p class="field large-4 columns">
          <%= f.label :active, t('activerecord.attributes.yavu_surveys/survey.active') %>
          <%= f.check_box :active %>
        </p>
        <p class="field large-4 end columns">
          <%= f.label :voting_allowed, t('activerecord.attributes.yavu_surveys/survey.voting_allowed') %>
          <%= f.check_box :voting_allowed %>
        </p>
      </div>
      <p class="field">
        <%= f.label :sections, t('activerecord.attributes.yavu_surveys/survey.sections') %>
        <%= collection_select2_select :survey, :section_ids, Section.visible, :id, :to_s, {}, { multiple: true } %>
      </p>
      <p class="field">
        <%= f.label :question, t('activerecord.attributes.yavu_surveys/survey.answers') %>
        <div id="answers" class="field-container panel">
          <%= f.fields_for :answers, @survey.answers %>
        </div>
      </p>
      <div>
        <%= f.link_to_add t('activerecord.actions.yavu_surveys/survey.add_answer'), :answers, { class: 'action button radius', data: { target: "#answers" } } %>
      </div>
    </div>

    <ul class="form-actions">
      <li class="right"><%= f.submit class: "action button radius success" %></li>
    </ul>

  <% end %>
</div>
