<div class="row crud-header">
  <h1 class="large-12 columns">
    <%= title t('yavu_surveys/surveys.list.title') %>
  </h1>

  <%= render_flashes %>

<ul class="context-actions">
  <li class="right"><%= link_to t('activerecord.actions.yavu_surveys/survey.new'), new_survey_path, class: 'action button radius success' %></li>
</ul>

<span>
  Última encuesta vigente: <%= YavuSurveys::Survey.active.try(:question) || 'Ninguna' %>
<span>

<table class="large-12 crud-table">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.yavu_surveys/survey.question' %></th>
      <th data-tooltip aria-haspopup="true" class="has-tip tip-top" title="<%= t 'activerecord.attributes.yavu_surveys/survey.answers_tip' %>"><%= t 'activerecord.attributes.yavu_surveys/survey.answers' %></th>
      <th><%= t 'activerecord.attributes.yavu_surveys/survey.date' %></th>
      <th><%= t 'activerecord.attributes.yavu_surveys/survey.active' %></th>
      <th><%= raw "&nbsp;" %></th>
    </tr>
  </thead>

  <tbody>
    <%= content_tag_for(:tr, @surveys) do |survey| %>
      <td><%= survey.question %></td>
      <td>
        <% survey.answers.each do |answer| %>
          <div class="row">
            <div class="large-3 columns"><strong><%= answer.title %></strong></div>
            <div class="large-3 columns"><%= answer.vote_count %></div>
          </div>
        <% end %>
      </td>
      <td><%= date_with_format survey.created_at %></td>
      <td><%= render_boolean survey.active? %></td>
      <td>
        <a href="#" class="button small dropdown secondary radius" data-dropdown="action-dropdown-<%= survey.id %>">
          <%= t('activerecord.actions.shared.actions') %>
        </a>
        <ul class="f-dropdown" id="action-dropdown-<%= survey.id %>" <%= plugins mover: {} %> data-dropdown-content>
          <li class="success"><%= link_to t('activerecord.actions.shared.edit'), edit_survey_path(survey) %></li>
          <% if survey.active? %>
            <li><%= link_to t('activerecord.actions.shared.disable'), disable_survey_path(survey) %></li>
          <% else %>
            <li><%= link_to t('activerecord.actions.shared.enable'),  enable_survey_path(survey)  %></li>
          <% end %>
          <li class="divider"></li>
          <li class="alert"><%= link_to t('activerecord.actions.shared.destroy'), survey, method: :delete, data: { confirm: t('activerecord.actions.shared.confirmation.destroy') } %></li>
        </ul>
      </td>
    <% end %>
  </tbody>
</table>
