<h1><%= t('yavu_surveys/surveys.new.title') %></h1>

<%= render 'form' %>

<ul class="context-actions">
  <li><%= link_to t('activerecord.actions.shared.back'), surveys_path, class: 'button secondary radius' %></li>
</ul>
