/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/*
When validations in survey fails, this line hide
the deleted answers
*/

#answers {
  .fields.marked_for_destruction {
    display: none;
  }
}
